/* About copyright see faces.el */
body {
        /* default */
        color: #ffffff;
        background-color: #000000;
}
/* About copyright see faces.el */
.default {
        /* default */
        color: #ffffff;
        background-color: #000000;
}
